<div id="topContent">
  <h1>Users List</h1>
</div>

<div id="midleContent" >
  <% if @users.empty? %>
    No Users found
  <% else %>
    <div id="paginationUp" class="pagination noPrint">
      <%= will_paginate @users %>
    </div>
    <ul class="usersList tableList" summary="Users list">

        <li class="trHead">
          <span class="thSpan html userInfos">Infos</span>
          <span class="thSpan thActions userActions">Actions</span>
        </li>

        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
    </ul>
    <div class="clear">&nbsp;</div>

    <div id="paginationDown" class="pagination noPrint">
      <%= will_paginate @users %>
    </div>
  <% end %>
</div>

<div id="bottomContent">
  <div class="listActions">
    <%= link_to "New user", new_user_path, :class => "new objectAction" %>
  </div>
</div>