<div id="topContent">
  <h1>Tracker Config</h1>
</div>

<div id="midleContent">
  <%= render "config/task_statuses_list" %>

  <%= render "config/task_priorities_list" %>
  <div class="clear"></div>
</div>

<div id="bottomContent">
  
</div>
