<li class="trBody">
  <div class="tdBodyOut"><input type="checkbox" /></div>
  <span class="sprintName string tdBody"><%= sprint.name %></span>
  <span class="sprintGoals text tdBody"><%= sprint.goals %></span>
  <span class="sprintInfos html tdBody">
    <span class="contentSpan objectInfos">Tasks: TITI</span>
    <span class="contentSpan objectInfos">Completion: </span>
  </span>
  <span class="sprintActions tdBody actions">Delete</span>
</li>