<li class="trBody trProject">
  <div class="tdBody projectInfos">
    <span class="projectName string"><%= link_to project.name, :controller => "projects", :action =>"show" ,:project_slug => project.slug %></span>
    <span class="projectDesc text"> <%= project.description %> </span>
  </div>
  <div class="tdBody projectActions actions">
    Delete
  </div>
</li>