<h1>Projects list</h1>
<% if @projects.empty? %>
  No Project Found
<% else %>
  <ul class="projectsList tableList" summary="Projects list">
    
      <li class="trHead">
        <th>Infos</th>
        <th class="thActions">Actions</th>
      </li>
      <% @projects.each do |project| %>
        <%= render project %>
      <% end %>
    
  </ul>

  <div class="listActions">
    <%= link_to "New project", "#", :class => "new objectAction" %>
  </div>
<% end %>