<li class="trBody trTaskPriority">
  <span class="tdBody taskPriorityName string"><%= task_priority.name %> </span>
  <span class="tdBody taskPriorityPosition integer"><%= task_priority.position %> </span>
  <span class="tdBody taskStatusActions actions">Delete</span>
</li>