<div id="appFooter">
  <div id="footerLinks">
    <ul class="inlineList">
      <li><%= link_to "Sl-iDev", "http://www.sl-idev.fr" %>|</li>
      <li><%= link_to "EP Factory", "http://www.epfactory.fr" %>|</li>
      <li><%= link_to "RubyOnRails", "http://www.rubyonrails.com" %></li>
    </ul>
  </div>
</div>