<ul id="sidebarLinks" class="columnLinks">
  <li class="iconButton"><a href="">Link</a></li>
  <li class="iconButton"><a href="">Link</a></li>
  <li class="iconButton"><a href="">Link</a></li>
  <li class="iconButton"><a href="">Link</a></li>
  <li class="iconButton"><a href="">Link</a></li>
</ul>